apiVersion: apps/v1
kind: Deployment
metadata:
  name: vaultwarden
  namespace: default
  labels:
    app: vaultwarden
spec:
  revisionHistoryLimit: 1
  replicas: 1
  selector:
    matchLabels:
      app: vaultwarden
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: vaultwarden
    spec:
      containers:
      - image: vaultwarden/server:latest
        name: vaultwarden
        volumeMounts:
        - name: data
          mountPath: /data
        ports:
        - containerPort: 80
        env:
        - name: DOMAIN
          value: "https://vw.hiibolt.com"
        resources:
          limits:
            cpu: 250m
            memory: 256Mi
            ephemeral-storage: 128Mi
          requests:
            cpu: 100m
            memory: 128Mi
      volumes:
      - name: data
        nfs:
            server: 192.168.1.215
            path: /meow/vaultwarden/data
            readOnly: false
