apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: metrics-server
  namespace: argocd
spec:
  project: default
  source:
    chart: metrics-server
    targetRevision: 3.13.0
    repoURL: https://kubernetes-sigs.github.io/metrics-server
    helm:
      releaseName: metrics-server
  destination:
    server: "https://kubernetes.default.svc"
    namespace: metrics-server
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true